<!DOCTYPE html>
<meta charset="UTF-8">

<script src="./Apps.js"></script>

<link rel="stylesheet" href="apps.css">

<app-apps class="oxygen-transition-none-prepareDisplay oxygen-transition-none-bringIn">

	<app-tile-view id="tileViewHome" data-feature="home"></app-tile-view>
	<div class="onlyRel6Theme">
        <div id="tileView" class="tileDefault">
            <div id="tiles">
                <app-tile-mosaic-page-list id="homeMosaicTiles"></app-tile-mosaic-page-list>
                <app-tile-mosaic-scrollbar id="homeTilesScrollBar"></app-tile-mosaic-scrollbar>
            </div>
        </div>
    </div>

    <div class="onlyRel8Theme">
        <div id="carouselView">
            <div id="carouselTiles">
                <app-jumpoff-list id="appsJumpoffList" class="jump-list" data-orientation="horizontal"></app-jumpoff-list>
                <app-carousel-list id="appsCarouselList">
                  <template>
                      <app-carousel-list-item>
                          <p class="carousel-title">Suggested</p>
                          <app-carousel-row-list></app-carousel-row-list>
                          <div class="carouselTileInfo">
                          	<p class="carouselTileInfoTitle"></p>
                            <p class="carouselTileInfoSubTitle"></p>
                          </div>
                      </app-carousel-list-item>
                  </template>
                </app-carousel-list>
            </div>
        </div>
        <app-home-call-to-action-list id="ctaHome" class="callToActionList" data-screen="ctaHomepage"></app-home-call-to-action-list>
    </div>
  <app-home-call-to-action-list id="ctaApp" class="callToActionList" data-screen="ctaHomepage"></app-home-call-to-action-list>
  <div class="homeLogo"></div> 
  <template id="carouselCellTemplate">
    <div class="tileGradient"></div>
    <p class="asset-title"></p>
    <p class="asset-channelName"></p>
  </template>

</app-apps>
