<!DOCTYPE html>
<meta charset="UTF-8">

<script src="./OnDemand.js"></script>

<link rel="stylesheet" href="./onDemand.css">

<app-on-demand class="oxygen-transition-none-prepareDisplay oxygen-transition-none-bringIn">

	<app-tile-view id="tileViewHome" data-feature="home"></app-tile-view>
	<div class="onlyRel6Theme">
        <div id="tileView" class="tileDefault">
            <div id="tiles">
                <app-tile-mosaic-page-list id="homeMosaicTiles"></app-tile-mosaic-page-list>
                <app-tile-mosaic-scrollbar id="homeTilesScrollBar"></app-tile-mosaic-scrollbar>
            </div>
        </div>
    </div>

    <div class="onlyRel8Theme">
        <div id="carouselView">
            <div id="carouselTiles">
                <app-jumpoff-list id="OnDemandJumpoffList" class="jump-list" data-orientation="horizontal"></app-jumpoff-list>
                <app-carousel-list id="OnDemandCarouselList">
                  <template>
                      <app-carousel-list-item>
                          <p class="carousel-title">Suggested</p>
                          <app-carousel-row-list></app-carousel-row-list>
                          <div class="carouselTileInfo">
                          	<p class="carouselTileInfoTitle"></p>
                            <p class="carouselTileInfoSubTitle"></p>
                          </div>
                      </app-carousel-list-item>
                  </template>
                </app-carousel-list>
            </div>
        </div>
    </div>
  <div id="tilePage" class="oxygen-transition-none-hide">
    <div id="tileNoIP">
      <div id="tileNoIPImg"></div>
      <div id="tileNoIPTitle" data-i18n="F0501TileTitle">NO INTERNET CONNECTION!</div>
      <div id="tileNoIPText" data-i18n="F0501TileText">Connect your iQ3 to the internet to receive the full experience. Go to Settings/Help for more information.</div>
      <div id="tileNoIPErrorCode">F0501</div>
    </div>
    <div id="tileSpinner" class="spinner"></div>
    <div id="tileEmpty">
      <div id="tileEmptyTitle" data-i18n="tileEmptyTitle">There&rsquo;s nothing here!</div>
      <div id="tileEmptyText" data-i18n="tileEmptyText">There are currently no movies or TV shows to display here. Check back again later.</div>
      <div id="tileEmptyError" data-i18n="tileEmptyErrCode">F0502</div>
    </div>
    <div id="tileTierEmpty">
      <div id="tileEmptyTitle" data-i18n="tileEmptyTitle">There&rsquo;s nothing here!</div>
      <div id="tileEmptyText" data-i18n="tileTierEmptyText">There are currently no programmes to display here.<br>Check back again later.</div>
      <div id="tileEmptyError" data-i18n="tileTierEmptyErrCode">F0503</div>
    </div>
    <div id="tileEmptyRestart">
      <div id="tileEmptyTitle" data-i18n="tileEmptyRestartTitle">We&rsquo;re warming up...</div>
      <div id="tileEmptyText" data-i18n="tileEmptyRestartText">We&rsquo;re just filling your iQ3 with Foxtel goodness. It should only take a moment. Head to Settings/Help if you&rsquo;re waiting longer than a few minutes.</div>
      <div id="tileEmptyError" data-i18n="tileEmptyRestartErrCode">F0504</div>
    </div>
  </div>
   <template id="carouselCellTemplate">
    <div class="tileGradient"></div>
    <p class="asset-title"></p>
    <p class="asset-channelName"></p>
  </template>
  <app-home-call-to-action-list id="ctaOnDemand" class="callToActionList" data-screen="ctaHomepage"></app-home-call-to-action-list>
  <div class="homeLogo"></div>
</app-on-demand>
