<!DOCTYPE html>
<meta charset="UTF-8">

<script src="./SearchCollection.js"></script>

<link rel="stylesheet" href="./searchCollection.css">

<app-search-collection id="searchCollection" class="">

	<div id="searchCollectionTitle"></div>

	<div id="searchCollectionContent">
		<div id="searchCollectionTiles">
			<app-tile-mosaic-scrollbar id="searchTilesScrollBar"></app-tile-mosaic-scrollbar>
			<app-tile-mosaic-page-list id="searchMosaicTiles"></app-tile-mosaic-page-list>
		</div>
		<div class="logo"></div>
	</div>

</app-search-collection>
