<!DOCTYPE html>
<meta charset="UTF-8">

<script src="./HomeTvGuide.js"></script>

<link rel="stylesheet" href="./homeTvGuide.css">

<app-home-tv-guide class="oxygen-transition-none-prepareDisplay oxygen-transition-none-bringIn">
	<div id="gridView">
	 	<app-home-epg-grid id="epgGridMenu"
	                    data-config="./views/homeTvGuide/screenConfig/epggrid.json"
	                    data-row-id="epgGridMenu-row-"
	                    data-row-class="GridMenu-row">
	        	<template>
	            		<app-home-grid-cell id="epgMenuItem" class="epgMenu-item" data-path-name="Gridable"></app-home-grid-cell>
	        	</template>
	    	</app-home-epg-grid>
	    	<app-home-call-to-action-list id="ctaHomeTvGuide" class="callToActionList" data-screen="ctaHomepage"></app-home-call-to-action-list>
		<div class="homeLogo"></div> 
	</div>
</app-home-tv-guide>
