<!DOCTYPE html>
<meta charset="UTF-8">

<script src="./HomeMenu.js"></script>

<link rel="stylesheet" href="./portal.css">
<link rel="stylesheet" href="./homeMenu.css">

<app-home-menu id="pageContainer" class="oxygen-transition-none-prepareDisplay oxygen-transition-none-bringIn">

  <div id="homeMenu">
        <div id="homeBg"></div>
        <div id="homeBgSolid"></div>
        <div id="homeNavDivider"></div>
        <div id="homeNavGradient"></div>

        <div class="onlyRel6Theme">
          <app-home-breadcrumb id="homeNavBreadcrumb" data-menu-breadcrumb="true"></app-home-breadcrumb>
          <app-home-menu-list id="homeNavMenu" data-menu-main="true">
            <template>
              <app-home-menu-list-item class="menu-main-item">
                <span class="homeMenuItemText"></span>
                <span class="homeNavHi">
                  <span class="hiLeft"></span>
                  <div class="hiMiddle"></div>
                  <span class="hiRight"></span>
                </span>
              </app-home-menu-list-item>
            </template>
          </app-home-menu-list>

          <app-home-sub-menu-list id="homeSubNavMenu" data-menu-sub="true">
            <template>
              <app-home-sub-menu-list-item class="menu-sub-item">
                  <span class="homeSubMenuItemText"></span>
              </app-home-sub-menu-list-item>
            </template>
          </app-home-sub-menu-list>
        </div>

        <div class="onlyRel8Theme">
            <app-portal-menu-list id="portalMenu">
                <template>
                  <app-portal-menu-list-item class="portal-menu-list-item">
                     <span class="portalMenuItemText"></span>
                  </app-portal-menu-list-item>
                </template>
            </app-portal-menu-list>
        </div>

        <div id="collectionTitle"></div>
        <div id="collectionDescription"></div>
  </div>

</app-home-menu>
