:not(.Rel8Theme) .onlyRel6Theme { display: block; }
:not(.Rel8Theme) .onlyRel8Theme { display: none; }

.Rel8Theme .onlyRel6Theme { display: none; }
.Rel8Theme .onlyRel8Theme { display: block; }

.Rel8Theme #search {
    /* background-image: url('searchbg.jpg'); */
}
.Rel8Theme #searchField {
  position: absolute;
  height: 46px;
  width: 716px;
  left: 203px;
  top: 0;
  background-color: rgba(40,40,40,0.9);
  -webkit-transition: -webkit-transform 500ms linear;
}
.Rel8Theme #searchField #searchEntry {
  line-height: 45px;
  font-size: 30px;
  text-align: center;
}
.Rel8Theme #searchField #searchEntry #searchEntryText {
  overflow: hidden;
  white-space: nowrap;
  line-height: 40px;
  padding: 0;
}
.Rel8Theme #searchField #searchEntry #searchEntryText .searchEntryInfo {
    color: #666666;
}
.Rel8Theme #searchField #searchEntry #searchEntryText .searchEntryTerm {
    color: #dadada;
}
.Rel8Theme #searchField #searchEntry #searchKeyTitleBlinker {
  line-height: 45px;
}
.Rel8Theme #searchKeys {
  position: absolute;
  height: 100px;
  width: 600px;
  left: 261px;
  top: 65px;
  padding-top: 2px;
  -webkit-transition: -webkit-transform 500ms linear;
}
.Rel8Theme #searchKeys #searchKeysTable {
}
.Rel8Theme #searchKeys .searchKeys-row {
  width: 600px;
  height: 45px;
  font-size: 30px;
}
.Rel8Theme #searchKeys .searchKeys-item {
    width: 46px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 40px;
}
.Rel8Theme #searchButtons {
  position: absolute;
  height: 46px;
  width: 300px;
  left: 411px;
  top: 175px;
  -webkit-transition: -webkit-transform 500ms linear;
}
.Rel8Theme #searchButtons .searchButtonsList-item {
  position: absolute;
  width: 75px;
  height: 35px;
  text-align: center;
  line-height: 32px;
  font-size: 15px;
}
.Rel8Theme app-search-buttons-list app-search-buttons-list-item {
  height: 35px;
  margin: 2px;
  background: #1d1d1d;
  width: 65px;
  color: #dadada;
}
.Rel8Theme app-search-buttons-list app-search-buttons-list-item.searchButtonBackspace {
  background-image: url('../../images/common/icons/backspace.png');
  background-position: center;
  background-repeat: no-repeat;
}
.Rel8Theme #searchResultsContainer { /* added */
    top: 250px;
    left: 40px;
    -webkit-transition: -webkit-transform 500ms linear;
}
.Rel8Theme .fullScreenMode { /* added */
  will-change: transform;
  -webkit-transform:translate3d(0, -260px, 0);
}
.Rel8Theme app-search-keys-table[selected] app-search-keys-table-cell[selected],
.Rel8Theme app-search-buttons-list[selected] app-search-buttons-list-item[selected] {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #b5300b), color-stop(100%, #c7531e))
}
.Rel8Theme app-search-buttons-list[selected] app-search-buttons-list-item[selected].searchButtonBackspace {
  background: url("../../images/common/icons/backspace.png") no-repeat center, -webkit-gradient(linear, left top, right bottom, color-stop(0, #b5300b), color-stop(100%, #c7531e))
}
